<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<center>
    <body style="margin-top: auto; margin-bottom: auto;">
    <nav class="navbar navbar-dark bg-dark">
    <div class="form-inline">
        <a class="navbar-brand" href="/"><i class="fa fa-fw fa-home"></i></a>
        <form class="form-inline" action="#" th:action="@{/user/authentication}" th:object="${user}" method="post">
            <input class="form-control mr-sm-2" type="email" id="email" name="email" required="true" placeholder="email address"/>
            <input class="form-control mr-sm-2" type="password" id="password" name="password" required="true" placeholder="password"/>
            <input type="submit" value="Sign In" class="btn btn-outline-success"/>
        </form>
        <h2 th:text="${message}"></h2>
    </div>
    </nav>
    <div class="container" style="height:400px; max-height:500; display:flex; justify-content: center; align-items: center">
    <div class="item">
    <h1>Welcome to GitClub!</h1>
        <br />
    <h6>Click below to Sign Up!</h6>
        <a class="btn btn-outline-primary" style="width:160px;" href="/registerTeam">Manager Sign Up</a>
        <a class="btn btn-outline-dark" style="width:160px;" href="/registerPlayer">Player Sign Up</a>
    </div>
    </div>
    </body>
</center>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>