<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<center>
    <body style="margin-top: auto; margin-bottom: auto;">
    <nav class="navbar navbar-dark bg-primary">
        <div class="form-inline">
            <a class="navbar-brand" href="/landingpage">GitClub</a>
            <a class="btn btn-outline-danger" href="user/signout">Sign Out</a>
        </div>
    </nav>
    <h1 th:text="${role}"></h1>
    <div id="landingPage"></div>
    <script src="built/landingPage.js"></script>
</body>
</center>
</html>